<% if can? :create, Resident %>
		<%= link_to 'New Resident', new_resident_path %>
<% end %>
<br></br>
<% @residents.each do |p| %>
	<ul>
	<li><%= p.name %> on <%= p.bio %> with <%= p.goals %> <%= link_to 'Details', resident_path(p) %></li>	
	</ul>
<% end %>



