<div ng-app="resident-app" class="container">

<div ng-controller="ResidentCtrl">
	<div class="contianer-fluid">


      <div ng-repeat="resident in residents| filter:{'id': ressyID}:true">
  
      <div class="col-md-4">
            <img src={{resident.image}} class="img-responsive img-rounded" alt="">
       </div>
      <div class="col-md-8">
       	  <div class="panel panel-default">
  			<div class="panel-body text-center" >
  				<h2>${{calcAmtLeft(resident)}} left to go!</h2>
                <p>${{calcTotal(resident)}} raised of ${{resident.goal_monetary}} from {{resident.donations.length}} 
                <ng-pluralize count="resident.donations.length"
                 when="{0: 'donations',
                     1: 'donation',
                     other: 'donations'
                     }">
				</ng-pluralize> 
				</h3>
                
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{calcPercent(resident)}}%">
                  <p>Donations</p>
                  </div>
                </div>
                <p class="span7 text-center"><a href="/residents/{{resident.id}}/donations/new" class="btn btn-success btn-lg" role="button">Donate</a></p>

           </div>
          </div>
       </div>
       <div class="clearfix"></div>

        <div class="container-fluid">
       	  <div class="jumbotron">
       		<h2>{{resident.name}}</h2>
       		<p>Partner: {{resident.partnername}} of {{resident.partnerorg}}</p>
			<p>Bio: {{resident.bio}}</p>
			<p>Goals: {{resident.goals}}</p>
          </div>
        </div>

           
       

			</div>
		</div>


</div>


<!-- <h1> Resident </h1>

<% if can? :edit, @resident %>
		<%= link_to 'Edit', edit_resident_path(@resident) %>
	<% end %>
<br></br>

<%= @resident.name %> <%= @resident.bio %> <%= image_tag @resident.image.url %><br />


Has raised $<%= @resident.total_donations %> through <%= @resident.donations.count %> donations
<br></br>
<%= link_to 'Donate', new_resident_donation_path(@resident) %>
<br></br>

<!-- Displays the Status of the RC if they have any -->
<% if @resident.statuses.count >0 %>
	<%= link_to 'Statuses', resident_statuses_path(@resident) %> 
	<% @resident.statuses.each do |s| %>
		<ul> 
			<li>
			<% if Time.new.utc.year == s.created_at.to_s.split(/[^0-9]+/)[0].to_i%>
			<% if Time.new.utc.month == s.created_at.to_s.split(/[^0-9]+/)[1].to_i %>
				<% if Time.new.utc.day == s.created_at.to_s.split(/[^0-9]+/)[2].to_i %>
					<% if Time.new.utc.hour == s.created_at.to_s.split(/[^0-9]+/)[3].to_i %>
						<% if Time.new.utc.min == s.created_at.to_s.split(/[^0-9]+/)[4].to_i %>
						a few seconds ago
						<% else %>
						<%= Time.new.utc.min - s.created_at.to_s.split(/[^0-9]+/)[4].to_i %> minutes ago
						<% end %>
					<% else %>
						<%= Time.new.utc.hour - s.created_at.to_s.split(/[^0-9]+/)[3].to_i %> hours ago
					<% end %>
				<% else %>
					<%= Time.new.utc.day - s.created_at.to_s.split(/[^0-9]+/)[2].to_i %> days ago
				<% end %>
			<% else %> <%= Time.new.utc.month - s.created_at.to_s.split(/[^0-9]+/)[1].to_i %> months ago
			<% end %>
		<% else %>
		<%= Time.new.utc.year - s.created_at.to_s.split(/[^0-9]+/)[0].to_i %> years ago 
		<% end %>
			 : <%= s.content %></li>
		</ul>
	<% end %>
<% end %>